.body{
 background-image: url(../img/background.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 height: 1800px;
 background-attachment: fixed;
 background-size: cover;
 margin-top: 250px;
 overflow-y: scroll;
}

.pistas{
    background-color: white;
    margin: 0px 100px 0px 100px;
    border-radius: 15px;
    border-color: aqua;
}

.parrafo{
    margin-left: 15px;
    padding: 10px 0px 10px 0px;
}